<img class="bg" src="http://i252.photobucket.com/albums/hh27/OZ-Insanity/theater_zpstxpof3ik.jpg" alt="">
<br>

<%= render @genres %>
<br>
<br>
<div class="new_category_center">
  <%= link_to("New Genre", new_genre_path, class: "new_genre_button") if can? :create, Genre%>
</div>