<%= show_review.title %>
<p>
  <%= button_to('Show', show_review, method: :get) %>
  <%= button_to('Edit', edit_show_review_path(show_review), method: :get)  %>
  <%= button_to('Delete review', show_review_path(show_review), method: :delete) %>
</p>