<img class="bg" src="http://i252.photobucket.com/albums/hh27/OZ-Insanity/theater_zpstxpof3ik.jpg" alt="">
<br>

<%= render @show_reviews %>
<br>
<br>
<div class="new_show_review_center">
  <%= link_to("New Review", new_show_review_path, class: "new_show_review_button") if can? :create, ShowReview %>
</div>