<img class="bg" src="http://i252.photobucket.com/albums/hh27/OZ-Insanity/theater_zpstxpof3ik.jpg" alt="">
<br>
<div class="show_info_area sia_small">
<center><%= link_to 'New Venue Review', new_venue_review_path, class: "new_review_top" %></center>

<div class="editing_head">
<h1>Writing Show Review</h1>
</div>

<%= render 'form' %>

<%= link_to 'Back', show_reviews_path, class: "reviews_back_button" %>

</div>