<h1>About Us</h1>
<p>From humble beginnings as amateur developers to all-conquerering heroes of the modern world, Team Chocolate are in many ways a modern marvel. It has been said that on a clear night if you look to the horizon you can see the bright light of brilliance that emanates from each member of the team.</p>
<img img class="sr" src="http://c.tadst.com/gfx/750x500/sunrise.jpg" alt="Sunrise">