<img class="bg" src="http://i252.photobucket.com/albums/hh27/OZ-Insanity/theater_zpstxpof3ik.jpg" alt="">
<br>
<div class="show_info_area sia_small">

<div class="editing_head">
<h1>New Venue</h1>
</div>
<%= render 'form' %>
<br>
<%= link_to 'Back', venues_path, class: "show_back_button" %>
</div>