<img class="bg" src="http://i252.photobucket.com/albums/hh27/OZ-Insanity/Habima_Theatre_building-Tel_Aviv-3_zpsc3sut9gd.jpg" alt="">
<br>
<div class="show_info_area sia_small">
<center><%= link_to 'New Show Review', new_show_review_path, class: "new_review_top" %></center>

<div class="editing_head">
<h1>Writing Venue Review</h1>
</div>

<%= render 'form' %>

<%= link_to 'Back', venue_reviews_path, class: "reviews_back_button" %>
</div>