<img class="bg" src="http://i252.photobucket.com/albums/hh27/OZ-Insanity/theater_zpstxpof3ik.jpg" alt="">
<br>
<h1>New Venue Review</h1>

<%= render 'form' %>

<%= link_to 'Back', venue_reviews_path %>
<%= link_to 'New Show Review', new_show_review_path %>
</div>