<% @search_result.each do |search_result| %>
<p><strong>Show Name:</strong><%= performance.show.try(:name) %></p>
<p><strong>Venue Name: </strong> <%= performance.venue.try(:name) %></p>
<p><strong>Schedule: </strong><%= performance.human_readable_date %></p>
<% end %>