/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 img.sr {
   width: 100%;
   height: 50%;
 }

 div#overlay {
  display: none;
  z-index: 2;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
 }

 div#specialBox {
  border-radius: 25px;
  display: none;
  position: relative;
  z-index: 3;
  margin: 50px auto 0px auto;
  width: 550px; 
  height: 250px;
  background: #FFF;
  color: #000;
  text-align: center;
 }

 div#specialBoxb {
  border-radius: 25px;
  display: none;
  position: relative;
  z-index: 3;
  margin: 50px auto 0px auto;
  width: 100%; 
  height: 360px;
  background: #FFF;
  color: #000;
  text-align: center;
 }

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/407672/2786203/Nd62JHSuBhCJbgX/twostars.png') 0 -16px;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  width: 1080px;
  margin: 0 auto;
  position: relative;
}

.box {
  display: inline-block;
  margin-right: 0px;
}

.neg-margin-box {
  margin-right: -4px;
}

.box-1 {
  width: 8.33333333333%;
}

.box-2 {
  width: 16.6666666666%;
}

.box-3 {
  width: 25%;
}

.box-4 {
  width: 33.3333333333%;  
  z-index: 50;
}

.box-5 {
  width: 41.6666666666%;  
}

.box-6 {
  width: 50%;
}

.box-7 {
  width: 58.3333333333%;
}

.box-8 {
  width: 66.6666666666%;
}

.box-9 {
  width: 75%;
}

.box-10 {
  width: 83.3333333333%;
}

.box-11 {
  width: 91.6666666666%;
}

.box-12 {
  width: 100%;
}

.col-left {

}

.col-middle {
}

.col-right {
  
}

.form-col-left {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    width: 49%;
    text-align: right;
    padding-right: 2%;
}

.form-col-right {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  width: 49%;
}

.navleft {
  position: absolute;
  top: -10px;
  left: 20px;
}

.navmiddle {
  position: relative;
  margin: 50px auto 0 auto;
  width: 340.25px;
}

.navright {
  position: absolute;
  top: -20px;
  width: 100px;
  right: 0px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background-color: rgba(255,255,255,0.75);
  border: 1px solid black;
  padding: 2px;
  display: inline;
  color: black;
}

li a {
  color: black;
}

li:hover {
  background-color: rgba(255,255,255,1);
}

.topmiddle {
  position: relative;
  width: 735px;
  margin: 0 auto;
  top: -75px;
}

.search_go {
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  padding: 3.5px;
}

.search_go:hover {
  background-color: rgba(255, 255, 255, 1);
}

.profilecircle {
}

body {
  font-family: Arial, Helvetica;
}

img.bg {

  /*-webkit-filter: blur(10px);*/

  filter: blur(5px);
  /*Browser Specific*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  
  min-height: 105%;
  min-width: 105%;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -5;

}

/* DROP DOWN MENU
header{
  width:240px;
  height:50px;
  position:relative;
  left:39%;
  transform: translateX(-50%);
  background: rgba(255,255,255,0.75);
  overflow:hidden;
  backface-visibility: hidden;
  transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1); 
  transition-delay: 400ms;
}

header.shownav{
  width:240px;
  height: 400px;
}

nav{
  width: 50px;
  height: 50px;
  
}

.dc-menu-trigger {
  position: absolute;
  top: 0px;
  left: 11px;
  display: block;
  width: 28px;
  height: 50px;
  cursor: pointer;
  z-index: 300000;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
  transition-delay: 600ms;
}

.dc-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  margin-top: -2px;
  background-color: #000000;
  font-size: 0px;
  user-select: none;
  transition: background-color 0.5s;
}

.dc-menu-open .dc-menu-trigger span {
  background-color: transparent;
}

.dc-menu-open .dc-menu-trigger {
  left:88%; 
  transition: all 0.4s cubic-bezier(0.7, 0, 0.36, 0.63);
}

.dc-menu-trigger span:before,
.dc-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  content: '';
  transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
}

.dc-menu-trigger span:before {
  transform: translateY(-250%);
}

.dc-menu-trigger span:after {
  transform: translateY(250%);
}

Just bust a move
.dc-menu-open .dc-menu-trigger span:before {
  transform: translateY(0) rotate(45deg);
}

.dc-menu-open .dc-menu-trigger span:after {
  transform: translateY(0) rotate(-45deg);
}


.dc-menu-close .dc-menu-trigger:before {
  animation: plusVertical 0.3s ease forwards;
}

.dc-menu-close .dc-menu-trigger:after {
  animation: plusHorizontal 0.3s ease forwards;
}

.menu-overlay {
  z-index: 100000;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: none;
}

.menu-overlay.open {
  height: 100%;
}

.menu-overlay ul {
  position: absolute;
  visibility: hidden;
  list-style-type:none;
  top: -40%;
  left: 0;
  width: 100%;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  transition: all 0.6s cubic-bezier(0.7, 0, 0.36, 0.63);
  transform: perspective(600px) rotateX(20deg) rotateY(-20deg);
}

.menu-overlay ul li{
  text-align:center;
  font-size: 12px;
  margin:20px 0;
  text-transform:uppercase;
  letter-spacing:5px;
}

.menu-overlay ul li:after {
  content:"";
  display:block;
  width:30px;
  height:1px;
  margin:10px auto 0 auto;
}

.menu-overlay ul li:hover {
  background: rgba(255,255,255,1);
  cursor:pointer;
  height: 22px;
}

.menu-overlay.open ul {
  top: 40px;
  left:0;
  visibility: visible;
  margin-top: 0;
  transform: perspective(600px) rotateX(0deg) rotateY(0deg);
  transition: all 0.6s cubic-bezier(0.7, 0, 0.36, 0.63);
  transition-delay: 400ms;
}
 DROP DOWN MENU */

.sign_up_head {
  margin: 0 auto;
  width: 215px;
}

.listing_venues {
  margin: 0 auto;
  width: 228px;
}

.password_inputs {
  margin: 0 auto;
  width: 353px;
  padding-bottom: 10px;
}

.registration_links {
  margin: 0 auto;
  width: 157px;
}

.password_inputs_longer {
  margin: 0 auto;
  width: 252px;
  padding-bottom: 10px;
}

.editing_head {
}

.home_logo {
  position: relative;
  top: 20px;
  width: 310px;
  margin: 0 auto;
}

.home_motto {
  position: relative;
  top: 20px;
  width: 241px;
  margin: 0 auto;
  color: rgba(255,255,255,0.75);  
  font-size: 20px;
}

.home_motto:hover {
  color: rgba(255,255,255,1);
}

.s1_create_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 30px;
}

.s1_create_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.s1_what_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 34px;
}

.s1_what_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.first_buttons_left {
  position: fixed;
  top: 350px;
  left: 30%;
  margin-right: -4px;
  vertical-align: top;
}

.first_buttons_right {
  position: fixed;
  top: 350px;
  right: 30%;
  margin-right: -4px;
  vertical-align: top;
}

.s2_venue_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.s2_venue_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.s2_show_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 70.5px;
}

.s2_show_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.second_buttons_left {
  position: fixed;
  top: 350px;
  left: 30%;
  margin-right: -4px;
  vertical-align: top;
}

.second_buttons_right {
  position: fixed;
  top: 350px;
  right: 30%;
  margin-right: -4px;
  vertical-align: top;
}

.new_venue_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_venue_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_venue_center {
  margin: 0 auto;
  width: 198px;
}

.new_show_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_show_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_show_center {
  margin: 0 auto;
  width: 198px;
}

.new_category_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_category_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_category_center {
  margin: 0 auto;
  width: 216px;
}

.new_genre_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_genre_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_genre_center {
  margin: 0 auto;
  width: 196px;
}

.new_performance_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_performance_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_performance_center {
  margin: 0 auto;
  width: 241px;
}

.new_show_review_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_show_review_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_show_review_center {
  margin: 0 auto;
  width: 204px;
}

.new_venue_review_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_venue_review_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_venue_review_center {
  margin: 0 auto;
  width: 204px;
}

.thumbnail {
  position: relative;
}

.thumbnail-buttons {
  background-color: rgba(192,192,192,0.5);
  color: rgba(0,0,0,0.75);
  border: none;
  margin-right: -5px;
}

.thumbnail-img {
  width: 100%;
  height: 203px;
}

.thumbnail-label {
  background-color: rgba(255,255,255,0.75);
  padding: 10px;
  position: absolute;
  bottom: 100px;
  width: 94.5%;
  color: black;
}

.thumbnail-sublabel {
  background-color: rgba(255,255,255,0.75);
  font-size: 10px;
  padding: 7px;
  position: absolute;
  bottom: 75px;
  width: 96%;
  color: black;
}

.thumbnail-sublabel-left {
  position: absolute;
  left: 1px;
  top: 1.5px;
}

.thumbnail-sublabel-right {
  position: absolute;
  right: 10px;
  top: 1.5px;
}

.button_to {
  display: inline-block;
  position: absolute;
  bottom: 4px;
}

.form-1 {
  z-index: -2;
}

.form-2 {
  margin-left: 40px;
  z-index: -1;
}

.form-3 {
  margin-left: 71px;
  z-index: 0;
}

.thumbnail-buttons:hover {
  background-color: rgba(192,192,192,0.75);
}

.show_info_area {
  background-color: rgba(255,255,255,0.75);
  color: black;
  width: 864px;
  height: 100%;
  margin: 0 auto;
}

.show_info_area_left {

}

.show_info_area_right {

}

.show_info_area_button-edit {
  background-color: rgba(192,192,192,0.5);
  color: rgba(0,0,0,0.75);
  border: none;
}

.show_info_area_button-edit:hover {
  background-color: rgba(192,192,192,0.5)
}

.show_info_area_button-back {
  background-color: rgba(192,192,192,0.5);
  color: rgba(0,0,0,0.75);
  border: none;
}

.show_info_area_button-back:hover {
  background-color: rgba(192,192,192,0.5)
}

.notice-messages {
  position: absolute;
  bottom: -400px;
}

.footerboxes {
  position: relative;
  display: inline-block;
  width: 65px;
  margin: 0 auto;
  bottom: -515px;
  right: -1100px;
}

.aboutUsBox {
  position: relative;
  color: rgba(0,0,0,0.75);
}

.privacyBox {
  position: relative;
  color: rgba(0,0,0,0.75);
}














