/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 img.sr {
   width: 100%;
   height: 50%;
 }

 div#overlay {
  display: none;
  z-index: 2;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
 }

 div#specialBox {
  border-radius: 25px;
  display: none;
  position: relative;
  z-index: 3;
  margin: 50px auto 0px auto;
  width: 550px; 
  height: 250px;
  background: #FFF;
  color: #000;
  text-align: center;
 }

 div#specialBoxb {
  border-radius: 25px;
  display: none;
  position: relative;
  z-index: 3;
  margin: 50px auto 0px auto;
  width: 100%; 
  height: 360px;
  background: #FFF;
  color: #000;
  text-align: center;
 }

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('https://s3-eu-west-1.amazonaws.com/uploads-eu.hipchat.com/407672/2786203/Nd62JHSuBhCJbgX/twostars.png') 0 -16px;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  width: 1080px;
  margin: 0 auto;
  position: relative;
}

.box {
  display: inline-block;
  margin-right: 0px;
}

.neg-margin-box {
  margin-right: -4px;
}

.box-1 {
  width: 8.33333333333%;
}

.box-2 {
  width: 16.6666666666%;
}

.box-3 {
  width: 25%;
}

.box-4 {
  width: 33.3333333333%;  
  z-index: 50;
}

.box-5 {
  width: 41.6666666666%;  
}

.box-6 {
  width: 50%;
}

.box-7 {
  width: 58.3333333333%;
}

.box-8 {
  width: 66.6666666666%;
}

.box-9 {
  width: 75%;
}

.box-10 {
  width: 83.3333333333%;
}

.box-11 {
  width: 91.6666666666%;
}

.box-12 {
  width: 100%;
}

.col-left {

}

.col-middle {
}

.col-right {
  
}

.form-col-left {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    width: 45%;
    text-align: right;
    padding-right: 2%;
}

.form-col-right {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  width: 45%;
}

.logged-in {
  width: 572px;
  margin: 0 auto;
}

.logged-out {
  width: 583px;
  margin: 0 auto;
}

.navleft {
  position: absolute;
  top: -40px;
  left: 20px;
  z-index: 1000px;
}

.navmiddle {
  position: relative;
  margin: 50px auto 0 auto;
}

.navright {
  position: absolute;
  top: -20px;
  width: 100px;
  right: 0px;
}

.center-search {
  width: 341px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background-color: rgba(255,255,255,0.75);
  padding: 2px;
  display: inline;
  color: black;
  border: none;
}

li a {
  color: black;
}

li:hover {
  background-color: rgba(255,255,255,1);
}

.topmiddle {
  position: relative;
  width: 735px;
  margin: 0 auto;
  top: -75px;
}

.search_go {
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  padding: 3.5px;
}

.search_go:hover {
  background-color: rgba(255, 255, 255, 1);
}

.profilecircle {
}

body {
  font-family: Arial, Helvetica;
}

img.bg {

  /*-webkit-filter: blur(10px);*/

  filter: blur(5px);
  /*Browser Specific*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  
  min-height: 105%;
  min-width: 105%;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -5;

}

.sign_up_head {
  margin: 0 auto;
  width: 215px;
}

.listing_venues {
  margin: 0 auto;
  width: 228px;
}

.password_inputs {
  margin: 0 auto;
  width: 353px;
  padding-bottom: 10px;
}

.registration_links {
  text-align: center;
}

.password_inputs_longer {
  margin: 0 auto;
  width: 252px;
  padding-bottom: 10px;
}

.editing_head {
  text-align: center;
}

.home_logo {
  position: relative;
  top: 20px;
  width: 310px;
  margin: 0 auto;
}

.home_motto {
  position: relative;
  top: 20px;
  width: 241px;
  margin: 0 auto;
  color: rgba(255,255,255,0.75);  
  font-size: 20px;
}

.home_motto:hover {
  color: rgba(255,255,255,1);
}

.s1_create_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 30px;
}

.s1_create_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.s1_what_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 34px;
}

.s1_what_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.first_buttons_left {
  position: fixed;
  top: 350px;
  left: 30%;
  margin-right: -4px;
  vertical-align: top;
}

.first_buttons_right {
  position: fixed;
  top: 350px;
  right: 30%;
  margin-right: -4px;
  vertical-align: top;
}

.s2_venue_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.s2_venue_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.s2_show_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 70.5px;
}

.s2_show_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.second_buttons_left {
  position: fixed;
  top: 350px;
  left: 30%;
  margin-right: -4px;
  vertical-align: top;
}

.second_buttons_right {
  position: fixed;
  top: 350px;
  right: 30%;
  margin-right: -4px;
  vertical-align: top;
}

.new_venue_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_venue_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_venue_center {
  margin: 0 auto;
  width: 198px;
}

.new_show_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_show_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_show_center {
  margin: 0 auto;
  width: 198px;
}

.new_category_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_category_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_category_center {
  margin: 0 auto;
  width: 216px;
}

.new_genre_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_genre_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_genre_center {
  margin: 0 auto;
  width: 196px;
}

.new_performance_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_performance_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_performance_center {
  margin: 0 auto;
  width: 241px;
}

.new_show_review_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_show_review_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_show_review_center {
  margin: 0 auto;
  width: 204px;
}

.new_venue_review_button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);

  padding: 15px 60px;
}

.new_venue_review_button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.new_venue_review_center {
  margin: 0 auto;
  width: 204px;
}

.thumbnail {
  position: relative;
}

.thumbnail-buttons {
  background-color: rgba(192,192,192,0.5);
  color: rgba(0,0,0,0.75);
  border: none;
  margin-right: -5px;
}

.thumbnail-img {
  width: 100%;
  height: 203px;
}

.thumbnail-label {
  background-color: rgba(255,255,255,0.75);
  padding: 10px;
  position: absolute;
  bottom: 100px;
  width: 94.5%;
  color: black;
}

.thumbnail-sublabel {
  background-color: rgba(255,255,255,0.75);
  font-size: 10px;
  padding: 7px;
  position: absolute;
  bottom: 75px;
  width: 96%;
  color: black;
}

.thumbnail-sublabel-left {
  position: absolute;
  left: 1px;
  top: 1.5px;
}

.thumbnail-sublabel-right {
  position: absolute;
  right: 10px;
  top: 1.5px;
}

.button_to {
  display: inline-block;
  position: absolute;
  bottom: 4px;
}

.form-1 {
  z-index: -2;
}

.form-2 {
  margin-left: 40px;
  z-index: -1;
}

.form-3 {
  margin-left: 71px;
  z-index: 0;
}

.thumbnail-buttons:hover {
  background-color: rgba(192,192,192,0.75);
}

.show_info_area {
  background-color: rgba(255,255,255,0.75);
  color: black;
  width: 864px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}

.sia_small {
  width: 50%;
}

.sia_tall {
  height: 390px;
}

.sia_med {
  height: 100%;
}

.show_info_area_left {
  position: absolute;
  top: 200px;
  left: 280px;
}

.more_left_area {
  left: 210px;
}

.show_info_area_right {
  position: relative;
  text-align: right;
}

.map-go-right {
  position: absolute;
  top: 75px;
  right: 485px;
}

.show_info_area_button-edit {
  background-color: rgba(255,255,255,0.75);
  color: rgba(0,0,0,0.75);
  border: none;
  padding: 5px;
  font-size: 12px;
}

.show_info_area_button-edit:hover {
  background-color: rgba(255,255,255,1)
}

.show_info_area_button-back {
  background-color: rgba(255,255,255,0.75);
  color: rgba(0,0,0,0.75);
  border: none;
  padding: 5px;
  font-size: 12px;
  margin-left: -4px;
}

.show_info_area_button-back:hover {
  background-color: rgba(255,255,255,1)
}

.remove_button_margin {
  margin-left: 0;
}

.log_in_head {
  width: 90px;
  margin: 0 auto;
}

.login-col-left {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    width: 45%;
    text-align: right;
    padding-right: 2%;
}

.login-col-right {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  width: 45%;
}

.login_remember_password {
  width: 128px;
  margin: 0 auto;
}

.log_in_button {
  background-color: rgba(255,255,255,0.75);
  font-size: 13px;
  color: black;
  padding: 5px;
  border: none;
}

.provider_log_in {
  background-color: rgba(255,255,255,0.75);
  font-size: 13px;
  color: black;
  padding: 5px;
  border: none;
}

.login_buttons {
  text-align: center;
}

.forgot_password {
  background-color: rgba(255,255,255,0.75);
  font-size: 11px;
  color: black;
  padding: 5px;
  border: none;
}

.sign_up_button {
  background-color: rgba(255,255,255,0.75);
  font-size: 11px;
  color: black;
  padding: 5px;
  border: none;
}


.log_in_button:hover {
  background-color: rgba(255,255,255,1)
}

.provider_log_in:hover {
  background-color: rgba(255,255,255,1)
}

.forgot_password:hover {
  background-color: rgba(255,255,255,1)
}

.sign_up_button:hover {
  background-color: rgba(255,255,255,1)
}

.notice-messages {
  position: absolute;
  bottom: -400px;
}

.footerboxes {
  position: fixed;
  display: -webkit-inline-box;
  width: 130px;
  margin: 0 auto;
  top: 95%;
  left: 85%;
}

.aboutUsBox {
  position: relative;
  color: rgba(0,0,0,0.75);
}

.privacyBox {
  position: relative;
  color: rgba(0,0,0,0.75);
}

.log_in_links {
  text-align: center;
}

.create_my_account_button {
    background-color: rgba(255,255,255,0.75);
    font-size: 13px;
    color: black;
    padding: 5px;
    border: none;
  }


.create_my_account_button:hover {
    background-color: rgba(255,255,255,1)
}

.edit_profile_link {
  background-color: rgba(192,192,192,0.5);
  font-size: 13px;
  width: 63px;
  color: black;
  padding: 5px;
  border: none;
  margin: 0 auto;
}

.edit_profile_link:hover {
  background-color: rgba(192,192,192,0.75)
}

.higher_profile {
  top: 200px;
}

.update_show_button {
  background-color: rgba(255,255,255,0.75);
  font-size: 13px;
  color: black;
  padding: 5px;
  border: none;
  text-align: center;
}

.show_back_button {
  background-color: rgba(192,192,192,0.5);
  font-size: 13px;
  color: black;
  padding: 5px;
  border: none;
  position: absolute;
  top: 110px;
}

.update_show_button:hover {
  background-color: rgba(255,255,255,1);
}

.show_back_button:hover {
  background-color: rgba(192,192,192,0.75);
}

.delete_account_button {
  background-color: rgba(192,192,192,0.5);
  font-size: 11px;
  color: black;
  padding: 5px;
  border: none;
  position: absolute;
  top: -60px;
  left: -120px;
}

.delete_account_button:hover {
  background-color: rgba(192,192,192,0.75);
}

.back_profile_button {
  background-color: rgba(192,192,192,0.5);
  font-size: 13px;
  color: black;
  padding: 5px;
  border: none;
  position: absolute;
  top: 110px;
  left: 105px;
}

.back_profile_button:hover {
  background-color: rgba(192,192,192,0.75);
}

.update_account_button {
  background-color: rgba(255,255,255,0.75);
  font-size: 13px;
  color: black;
  padding: 5px;
  border: none;
  text-align: center;
}

.update_account_button:hover {
  background-color: rgba(255,255,255,1);
}

.show_venue_content {
  position: absolute;
  width: 360px;
  top: -75px;
  left: -100px;
}

.venue_location_section {
  position: absolute;
  bottom: -400px;
  left: -100px;
}

.venue_show_buttons {
  position: fixed;
  bottom: 150px;
  left: 210px;
}

.reviews_back_button {
  background-color: rgba(192,192,192,0.5);
  font-size: 13px;
  color: black;
  padding: 5px;
  border: none;
  position: absolute;
  bottom: 8px;
  left: 265px;
}

.reviews_back_button:hover {
  background-color: rgba(192,192,192,0.75);
}

textarea {
    width: 530px;
    height: 150px;
}

.new_review_top {
  display: inline-block;
  background-color: rgba(255,255,255,0.75);
  font-size: 15px;
  color: black;
  width: 100%;
  padding: 0 10px;
  margin-left: -10px;
}

.new_review_top:hover {
  background-color: rgba(255,255,255,1);
}

.create_review_button {
  background-color: rgba(255,255,255,0.75);
  font-size: 13px;
  color: black;
  padding: 5px;
  border: none;
}

.create_review_button:hover {
  background-color: rgba(255,255,255,1);
}