<img class="bg" src="http://i252.photobucket.com/albums/hh27/OZ-Insanity/theater_zpstxpof3ik.jpg" alt="">
<br>
<h1>Edit Category</h1>

<%= render 'form' %>

<%= link_to 'Back', categories_path %>
</div>