<img class="bg" src="http://i252.photobucket.com/albums/hh27/OZ-Insanity/theater_zpstxpof3ik.jpg" alt="">
<br>

<%= render @shows %>
<br>
<br>
<div class="new_show_center">
  <%= link_to("New Show", new_show_path, class: "new_show_button") if can? :create, Show %>
</div>