<img class="bg" src="http://i252.photobucket.com/albums/hh27/OZ-Insanity/theater_zpstxpof3ik.jpg" alt="">
<br>


  <%= render @performances %>
<br>
<br>
<div class="new_performance_center">
  <%= link_to('New Performance', new_performance_path, class: "new_performance_button") if can? :create, Performance%>
</div>